<div class="container">
  <div class="content">
    <div class="row">
      <br><br>
      <div class="span8 offset2">
	   
        <center><h1>About Us</h1></center>
        <br>
		<div>
		  <h2>Motivation</h2><hr>
		  <p><strong>The Stylekick product </strong> utilizes proprietary algorithms to create a clothing size profile for its users that can be utilized across brands in order to improve confidence in clothing purchases online and in‐store. The service is built on a social platform that ultimately enhances online and in-store retail apparel shopping. For retailers, we reduce online returns, improve inventory management, and offer physical as well as demographic sales targeting. End consumers benefit from guidance in finding the right fit, style and availability as well as access to unique product offerings; customers can rest assured that they have made the right purchase online.</p>	
		</div>
		
		<br><br><br>
	    <div>
	      <h2>Our Advisors</h2><hr>
		  
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8 offset1"><h3>Glen Farraye</h3></div>
		      <div class="span3">
		        <img src="http://placehold.it/260x160" alt="Sample Image">
			  </div>
		      <div class='span4 offset-2'>
		        <p>this is a test</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8 offset1"><h3>Myorr Janha</h3></div>
		      <div class="span3">
		        <img src="http://placehold.it/260x160" alt="Sample Image">
			  </div>
		      <div class='span4 offset-2'>
		        <p>this is a test</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8 offset1"><h3>Sankha Banerjee</h3></div>
		      <div class="span3">
		        <img src="http://placehold.it/260x160" alt="Sample Image">
			  </div>
		      <div class='span4 offset-2'>
		        <p>this is a test</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8 offset1"><h3>Tasha Lewis</h3></div>
		      <div class="span3">
		        <img src="http://placehold.it/260x160" alt="Sample Image">
			  </div>
		      <div class='span4 offset-2'>
		        <p>Tasha Lewis, PhD., is an Assistant Professor in the Department of Fiber Science & Apparel Design at Cornell University. Her research involves the integration of consumer-facing technology into the fashion industry, including disruption in the apparel supply chain enabled by the use of technologies like 3D body scanning, social media, e-commerce and digital product configurators.  Additional research interests include the global impact of fashion brands & apparel production, and issues related to social responsibility and sustainability. </p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
		
		  <br>
		  <div><!--advisor-->
	        <div class="row">
		      <div class="span8 offset1"><h3>William Li</h3></div>
		      <div class="span3">
		        <img src="http://placehold.it/260x160" alt="Sample Image">
			  </div>
		      <div class='span4 offset-2'>
		        <p>this is a test</p>
		      </div><!--/span4-->
		    </div><!--/row-->
		  </div><!--/advisor-->
	    
	
	
	
	    
	   </div>


	

	


      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->