<div class="container">
  <div class="content">
    <div class="row">
      <br><br>
      <div class="span8 offset2">
	   
        <br><br><br><br>
		<div class="hero-unit">
		  <h2>Motivation</h2><hr>
		  <p><strong>The Stylekick product </strong> utilizes proprietary algorithms to create a clothing size profile for its users that can be utilized across brands in order to improve confidence in clothing purchases online and in‐store. The service is built on a social platform that ultimately enhances online and in-store retail apparel shopping. For retailers, we reduce online returns, improve inventory management, and offer physical as well as demographic sales targeting. End consumers benefit from guidance in finding the right fit, style and availability as well as access to unique product offerings; customers can rest assured that they have made the right purchase online.</p>	
		</div>
		
		<br><br><br>
	    

	

	


      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->