<div class="container">
  <div class="content">
    <div class="row">
      <br><br><br><br><br><br><br><br>
      <div class="span8 offset2">
        <div class="hero-unit" style="overflow: auto;">
		  <div class="row-fluid">
	        <center><h1>Contact Us</h1><hr></center>
            <div class="span5">
	          <p>This is a sample text. This is a sample text. This is a sample text.</p>
            </div><!--/span4-->
	        <div class="span5">
			  <center><img src="http://placehold.it/200x180" alt="Sample Image"></center>
		    </div><!--/span4-->
		  </div><!--/row-fluid-->
        </div><!--/hero-->
      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->