<div class="container">
  <div class="content">
    <div class="row">
      <br><br><br><br><br><br><br><br>
      <div class="span8 offset2">
        <div class="hero-unit" style="overflow: auto;">
		  <div class="row-fluid">
	        <center><h1>Contact Us</h1><hr></center>
            <div class="span5">
	          <p>Applied Imaging Science Inc.
				Office: 25 York Street 
				<br>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
				Toronto,ON
				<br>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
				Canada
				<br>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
				+1 (416) 301 1323
				</p>
            </div><!--/span4-->
	        <div class="span5">
		      <center>
		        <p>To request a ...</p>
		        <%= link_to "Request","#", :class =>'btn btn-primary btn-large' %>
		      </center>
		    </div><!--/span4-->
		  </div><!--/row-fluid-->
        </div><!--/hero-->
      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->