<div class="container">
  <div class="content">
    <div class="row">
      <br><br>
      <div class="span8 offset2">
	
        <h1>The Team</h1><hr>
        <div>
	      <h2>Karn Saroya</h2>
	      <div class="row">
		    <div class="span3">
		      <%= image_tag "team/karn_saroya.png", :size => "260x200", :alt => "karn_saroya" %>
		    </div>
		    <div class='span4 offset-2'>
		    <strong>Business development and strategy, investor relations</strong>
			<hr>
			<p>Former consultant DMASL, intern Fairhaven Capital, Consultant with Oliver Wyman’s financial services practice, BComm (Queen’s University), MFin (MIT), Fulbright scholar</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	
	    <br>
		<div>
	      <h2>Natalie Gray</h2>
	      <div class="row">
		    <div class="span3">
			  <%= image_tag "team/natalie_gray.png", :size => "260x200", :alt => "natalie_gray" %>
		    </div>
		    <div class='span4 offset-2'>
			<strong>Business development and strategy, operations </strong>
			<hr>
			<p>Former Marketing Coordinator at Rush Communications in NYC for fashion and hip hop mogul Russell Simmons, MA Marketing (NYU), BComm and BA Math (Queen’s University)</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	    
	    <br>
	    <div>
	      <h2>Anand Dhillon</h2>
	      <div class="row">
		    <div class="span3">
		      <%= image_tag "team/anand_dhillon.png", :size => "260x200", :alt => "anand_shillon" %>
		    </div>
		    <div class='span4 offset-2'>
			<strong>Development and technical strategy implementation</strong>
			<hr>
			<p>Former product launch manager with Marketing Incubator Inc., Founder Wisdom Health Coaching,
				BASc Engineering Science (University of Toronto)</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	


      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->