<div class="container">
  <div class="content">
    <div class="row">
      <br><br>
      <div class="span8 offset2">
	
        <h1>The Team</h1><hr>
        <div>
	      <h2>Karn Saroya</h2>
	      <div class="row">
		    <div class="span3">
		      <img src="http://placehold.it/260x160" alt="Sample Image">
		    </div>
		    <div class='span4 offset-2'>
		    <p>this is a test</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	
	    <br>
		<div>
	      <h2>Natalie Gray</h2>
	      <div class="row">
		    <div class="span3">
		      <img src="http://placehold.it/260x160" alt="Sample Image">
		    </div>
		    <div class='span4 offset-2'>
		    <p>this is a test</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	    
	    <br>
	    <div>
	      <h2>Anand Dhilion</h2>
	      <div class="row">
		    <div class="span3">
		      <img src="http://placehold.it/260x160" alt="Sample Image">
		    </div>
		    <div class='span4 offset-2'>
		    <p>this is a test</p>
            </div>		    
		  </div><!--/row-->
	    </div>
	


      </div><!--/span8-->
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->